{% extends "wawaap/base.html" %}
{% load static %}
{% block content %}

<main>
          
         
          
            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
     
            <div class="container marketing">
          <div class="row">
            <div class="col-12">
     
                <h2 class="display-2 ifot2 text-secondary text-center">Meet The Team</h2>
<br>
            </div>


          </div>
              <!-- Three columns of text below the carousel -->
              <div class="row">



                <div class="col-lg-4 text-center">
                    <img src="{% static 'wawaap/ok1.png' %}" width="190" height="170" background="#777" color="#777" class="twist zoom" >
                    <br>
                      
                  <h5 class="my-2">Ngqiqo Yimpi </h5>
                  <p class="text-secondary">Founder/Web Developer </p>
                           <p><a class="btn shadow zoom btn-md rounded-0 btn-outline-dark" href="#" role="button">see more &raquo;</a></p>
                </div>




                
                <!-- /.col-lg-4 -->
                <div class="col-lg-4 text-center">
                    <img src="{% static 'wawaap/ok2.png' %}" width="190" height="170" background="#777" color="#777" class="zoom twist" >
                    <br>



















                 <h5 class="my-2">Palesa Sediba</h5>
                  <p class="text-secondary">Graphic Designer</p>
                        <p><a class="btn shadow zoom btn-md rounded-0 btn-outline-dark" href="#" role="button">see more &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 text-center">
                    <img src="{% static 'wawaap/ok3.jpg' %}" width="190" height="170" background="#777" color="#777" class="zoom twist" >
                    <br>
          <h5 class="my-2">Thapelo Radebe</h5>
                  <p class="text-secondary">UX/UI Engineer</p>
                           <p><a class="btn shadow zoom btn-md rounded-0 btn-outline-dark" href="#" role="button">see more &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
              
              
        
        
        

        
              <!-- START THE FEATURETTES -->
          <br>
          <br>
                             <h2 class="display-2 text-secondary text-center">About us</h2>
          
              <div class="row  featurette">
                <div class="col-md-7">
                  <br>
                  <br><br><br>
                  <br><br>
               
                  <h1 class="featurette-heading zoom">Who are we...
                  </h1>
                  <p class="lead text-secondary">We are a small Web solutions company which takes on all web related opportunities. The company was started in 2019 as a web design and web development company, We strive to provide a fantastic service at an affordable rate and ensure our clients receive the best possible creative experience.</p>
                </div>
                <div class="col-md-5">
                
                    <img src="{% static 'wawaap/z1.jpg' %}" width="500px" height="600px" background="#eee" color="#aaa" class="my-4 bd-placeholder-img-lg featurette-image img-fluid mx-auto" >
                </div>
              </div>
          
              
          
              <div class="row  featurette">
                <div class="col-md-7 order-md-2">
                  <br>
                  <br><br>
                  <br>
                  <br>
                
                    <h1 class="featurette-heading zoom">What we do...
                  </h1>
        <p class="lead zoom text-secondary">
          Our Mission is to develop elegant & affordable websolutions to small and large companies. Our services include web development, CMS web development, Web Sites Re-Design and maintenance , web designing and search engine optimization.
          We also offer Digital Marketing, Graphic Design and E-commerce Solutions.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{% static 'wawaap/zet3.jpg' %}" width="500px" height="700px" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" >
                </div>
              </div>
          
              
          
              <div class="row  featurette">
                <div class="col-md-7">
                  <br>
                  <br><br>
                  <br>
                  <h1 class="featurette-heading zoom">Why choose us...
                  </h1>
        <p class="lead text-secondary">
Websites are approached according to your company’s needs and business requirements.
We offer easy payment options to facilitate small, growing businesses. We provide this product so that our clients don’t have that huge initial cash layout but yet reap the benefits of having a substantial professional website.We offer cost effective web design, e-commerce & mobile app design services.</p>
                 </div>
                <div class="col-md-5">
                    <img src="{% static 'wawaap/zet2.jpg' %}" width="500px" height="700px" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" >
                </div>
              </div>
          
              
          
              <!-- /END THE FEATURETTES -->
          
            </div><!-- /.container -->
          
          <br>
           
          </main>
          





{% endblock %}
