{% extends "wawaap/base.html" %}
{% load static %}
{% block content %}







<main class="container">
  <div class="pricing-header px-3 my-2  mx-auto text-center">
    <h1 class="display-4 text-secondary">Our prices</h1>
    <p class="lead text-secondary">We strive to provide a fantastic service at an affordable rate and ensure our clients receive the best possible creative experience.</p>
  </div>
<br>


  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Static Website</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R300 <small class="text-muted">/ per page</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Business</li>
          <li>Portfolio</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg shadow btn-dark">Get started</button>
      </div>
    </div>
    </div>
    
    <div class="col">
      <div class="card mb-4 shadow">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Dynamic Website</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R500 <small class="text-muted">/ per page</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li></li>
           <li>Business</li>
          <li>E-commerce</li>
          <li>Web Store</li>
           <li>Blog Site</li>
        </ul>
     <button type="button" class="w-100 btn btn-lg shadow btn-dark">Get started</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Web Apps</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R700 <small class="text-muted">/ per page</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Chat App</li>
          <li>Inventory</li>
          <li>Management Sys</li>
          <li>Help center access</li>
        </ul>
     <button type="button" class="w-100 btn btn-lg shadow btn-dark">Get started</button>
      </div>
    </div>
    </div>
  </div>














  <div class="row row-cols-1  mb-3 text-center">
    <div class="col-6">
      <div class="card mb-4 shadow">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Graphic Design</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R350 <small class="text-muted">/ per design</small></h1>
        <ul class="list-unstyled mt-3 mb-4">




          <p>Logos & Branding
            • Business Cards
            • Letterheads
            • Brochures
            • Pamphlets
            • Signage
            • Posters
            • Book Layout
            • CV Design
            • Invitations
            • Icon Design
            • Stickers
            • Social Media Image Design
            • Stamps
            • Invoice & Quote Layout
            • Infographics
            • Packaging
            • Print Advertising
            • Calendars
  
  </p>









        </ul>
        <button type="button" class="w-100 btn btn-lg shadow btn-dark">Get started</button>
      </div>
    </div>
    </div>
 
    <div class="col-6">
      <div class="card mb-4 shadow">
      <div class="card-header">
        <h4 class="my-0 fw-normal">SEO Services</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">R400 <small class="text-muted">/ per hour</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Chat App</li>
          <li>Inventory</li>
          <li>Management Sys</li>
          <li>Help center access</li>
        </ul>
     <button type="button" class="w-100 btn btn-lg shadow btn-dark">Get started</button>
      </div>
    </div>
    </div>
  </div>

</main>













{% endblock %}
